<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<button onclick="push()"> 抢购 </button>
<button onclick="pop()"> 结账 </button>
</body>
<script type="text/javascript" src="/folder/js/jquery.js"></script>
<script type="text/javascript">
	function push(){
	$.ajax({
		url:"{:url('login/test1')}",
		type:"GET",
		success:function(data){
			alert(data)
		},
		error:function(data){
			alert(data)
		}
	})
	}
	function pop(){
	$.ajax({
		url:"{:url('login/test2')}",
		type:"GET",
		success:function(data){
			alert(data)
		},
		error:function(data){
			alert(data)
		}
	})
	}
</script>

</html>