{include file="index/header"/}
<article> 
  <!--banner begin-->
 <div class="picsbox"> 
  <div class="banner">
    <div id="banner" class="fader">
      {volist name="slide" id="vo"}
      <li class="slide" style=" "><a href="{:url('index/info')}?id={$vo.article_id}" target="_blank"><img src="/file/upload/{$vo.pic_dirname}"><span class="imginfo">{$vo.pic_dir_name}</span></a></li>
      {/volist}
      <div class="fader_controls">
        <div class="page prev" data-target="prev">‹</div>
        <div class="page next" data-target="next">›</div>
        <ul class="pager_list">
        <!-- <li class="page" data-target="0">0</li><li class="page" data-target="1">1</li><li class="page active" data-target="2">2</li> -->
      </ul>
      </div>
    </div>
  </div>
  <!--banner end--> 
  <div class="toppic">
    {volist name="slide_right" id="vo"}
    <li> <a href="{:url('index/info')}?id={$vo.article_id}" target="_blank"> <i><img src="/file/upload/{$vo.article_pic_dir}"></i>
      <h2>{$vo.article_name}</h2>
      <span>{$vo.column_name}</span> </a> </li>
    {/volist}
  </div>
  </div>
  <div class="blank"></div>
  <!--blogsbox begin-->
  <div class="blogsbox">


    {volist name="article" id="vo"}
      {switch name="$vo.pic_count"}
        {case value="0"}
          <div class="blogs" data-scroll-reveal="enter bottom over 1s" data-scroll-reveal-id="6" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
      <h3 class="blogtitle"><a href="{:url('index/info')}?id={$vo.article_id}" target="_blank">{$vo.article_name}</a></h3>
            <p class="blogtext">{$vo.article_asname}</p>
        <div class="bloginfo">
                <ul>
                  <li class="author"><a href="{:url('index/about')}">{$vo.describe_author}</a></li>
                  
                    {volist name="column" id="v"}
                      {volist name="$v" id="val"}
                        {eq name="$vo.type_id" value="$val.column_id"}
                        <li class="lmname"><a href="{:url('jump/index')}?tags={$val.column_tags}&column_id={$val.column_id}">
                          {$val.column_name}
                        </a>
                        </li>
                        {/eq}
                      {/volist}
                    {/volist}
                  
                  <li class="timer">{$vo.add_time}</li>
                  <li class="view"><span>{$vo.read}</span>已阅读</li>
                  <li class="like">{$vo.down}</li>
                </ul>
              </div>
    </div>
        {/case}
        {case value="1"}
          <div class="blogs" data-scroll-reveal="enter bottom over 1s" data-scroll-reveal-id="5" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
            <h3 class="blogtitle"><a href="{:url('index/info')}?id={$vo.article_id}" target="_blank">{$vo.article_name}</a></h3>
            <span class="blogpic"><a href="{:url('index/info')}?id={$vo.article_id}" title=""><img src="/file/upload/{$vo.pic_dir.0}" alt=""></a></span>
            <p class="blogtext">{$vo.article_asname}</p>
            <div class="bloginfo">
                <ul>
                  <li class="author"><a href="{:url('index/about')}">{$vo.describe_author}</a></li>
                  
                    {volist name="column" id="v"}
                      {volist name="$v" id="val"}
                        {eq name="$vo.type_id" value="$val.column_id"}
                        <li class="lmname"><a href="{:url('jump/index')}?tags={$val.column_tags}&column_id={$val.column_id}">
                          {$val.column_name}</a>
                  </li>
                        {/eq}
                      {/volist}
                    {/volist}
                  
                  <li class="timer">{$vo.add_time}</li>
                  <li class="view"><span>{$vo.read}</span>已阅读</li>
                  <li class="like">{$vo.down}</li>
                </ul>
              </div>
          </div>
        {/case}
        {case value="2"}
           <div class="blogs" data-scroll-reveal="enter bottom over 1s" data-scroll-reveal-id="4" style="-webkit-transform: translatey(24px);transform: translatey(24px);opacity: 0;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
              <h3 class="blogtitle"><a href="{:url('index/info')}?id={$vo.article_id}" target="_blank">{$vo.article_name}</a></h3>
              <span class="bigpic"><a href="{:url('index/info')}?id={$vo.article_id}" title=""><img src="/file/upload/{$vo.pic_dir.0}" alt=""></a></span>
              <p class="blogtext">{$vo.describe_author} </p>
              <div class="bloginfo">
                <ul>
                  <li class="author"><a href="{:url('index/about')}">{$vo.describe_author}</a></li>
                 
                    {volist name="column" id="v"}
                      {volist name="$v" id="val"}
                      
                        {eq name="$vo.type_id" value="$val.column_id"}
                        <li class="lmname"><a href="{:url('jump/index')}?tags={$val.column_tags}&column_id={$val.column_id}">
                          {$val.column_name}
                        </a>
                        </li>
                        {/eq}
                      {/volist}
                    {/volist}
                  
                  <li class="timer">{$vo.add_time}</li>
                  <li class="view"><span>{$vo.read}</span>已阅读</li>
                  <li class="like">{$vo.down}</li>
                </ul>
              </div>
            </div>
        {/case}
        {case value="3"}
              <div class="blogs" data-scroll-reveal="enter bottom over 1s" data-scroll-reveal-id="3" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 1s ease-in-out 0s,  opacity 1s ease-in-out 0s;transition: transform 1s ease-in-out 0s, opacity 1s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">
              <h3 class="blogtitle"><a href="{:url('index/info')}?id={$vo.article_id}" target="_blank">{$vo.article_name}</a></h3>
              <span class="bplist"><a href="{:url('index/info')}?id={$vo.article_id}" title="">
              <li><img src="/file/upload/{$vo.pic_dir.0}" alt=""></li>
              <li><img src="/file/upload/{$vo.pic_dir.1}" alt=""></li>
              <li><img src="/file/upload/{$vo.pic_dir.2}" alt=""></li>
              </a></span>
              <p class="blogtext">{$vo.describe_author}</p>
               <div class="bloginfo">
                  <ul>
                    <li class="author"><a href="{:url('index/about')}">{$vo.describe_author}</a></li>
                    
                      {volist name="column" id="v"}
                        {volist name="$v" id="val"}
                          {eq name="$vo.type_id" value="$val.column_id"}
                          <li class="lmname"><a href="{:url('jump/index')}?tags={$val.column_tags}&column_id={$val.column_id}">
                            {$val.column_name}
                          </a></li>
                          {/eq}
                        {/volist}
                      {/volist}
                    
                    <li class="timer">{$vo.add_time}</li>
                    <li class="view"><span>{$vo.read}</span>已阅读</li>
                    <li class="like">{$vo.down}</li>
                  </ul>
                </div>
            </div>


        {/case}
      {/switch}
    {/volist}


 
  </div>
  <!--blogsbox end-->
  {include file="index/right" /}
</article>
{include file="index/footer"/}