
<!doctype html>
<html>
<head>
<title>
	{$system.sys_name}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$system.sys_key}" />

<!-- /fonts -->
<!-- css -->
<link href="/folder/message/css/style.css" rel='stylesheet' type='text/css' media="all" />


<!-- /css -->
</head>
<body>
<h1 class="agileits w3 wthree w3-agile w3-agileits agileinfo agile"><a href="{:url('index/index')}" style="color: #fff" >{$system.sys_name}</a></h1>
<div class="content-w3ls agileits w3 wthree w3-agile w3-agileits agileinfo agile">
	<form action="{:url('ajax/upmessage')}" method="post" class="form-agileits">
		<h2>留言板</h2>
		<input type="text" id="username" name="username" placeholder="姓名" title="请输入您的姓名。" required="">
		<input type="email" id="email" name="email" placeholder="邮箱" title="请输入您的邮箱地址。" required="">
		<textarea id="message" name="message" placeholder="留言" title="请输入您的留言。"></textarea>
		<input type="submit" class="sign-in" value="提交">
	</form>
</div>
<p class="copyright agileits w3 wthree w3-agile w3-agileits agileinfo agile">{$system.sys_power} | {$system.sys_keepor} <a href="{:url('index/index')}" target="_blank">{$system.sys_name}</a></p>
</body>
</html>