<div class="sidebar">
    <div class="zhuanti">
      <h2 class="hometitle">特别推荐</h2>
      <ul>
        {volist name="push" id="vo"}

        <li> <i><img src="/file/upload/{$vo.article_pic_dir}"></i>
          <p>{$vo.push_name} <span><a href="{:url('index/info')}?id={$vo.article_id}">阅读</a></span> </p>
        </li>
        {/volist}
        
      </ul>
    </div>
    <div class="tuijian">
      <h2 class="hometitle">推荐文章</h2>
      <ul class="tjpic">
        {volist name="commend" id="v"}
          {if $v.rank == 1}
            <i><img src="/file/upload/{$v.article_pic_dir}"></i>
            <p><a href="{:url('index/info')}?id={$v.article_id}">{$v.article_name}</a></p>
            </ul>
            <ul class="sidenews">
        {else/}
           <li> <i><img src="/file/upload/{$v.article_pic_dir}"></i>
          <p><a href="{:url('index/info')}?id={$v.article_id}">{$v.article_name}</a></p>
          <span>{$v.add_time}</span> </li>
        {/if}
        {/volist}
      </ul>
    </div>
    <div class="tuijian">
      <h2 class="hometitle">点击排行</h2>
      <ul class="tjpic">
        {volist name="read" id="vo"}
          {eq name="$vo.rank" value="1"}
            <i><img src="/file/upload/{$vo.article_pic_dir}"></i>
              <p><a href="{:url('index/info')}?id={$vo.article_id}">{$vo.article_name}</a></p>
            </ul>
            <ul class="sidenews">
          {else/}
              <li> <i><img src="/file/upload/{$vo.article_pic_dir}"></i>
              <p><a href="{:url('index/info')}?id={$vo.article_id}">{$vo.article_name}</a></p>
              <span>{$vo.add_time}</span> </li>
          {/eq}
        {/volist}
      </ul>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        {volist name="tags" id="vo"}
        <a href="{:url('index/tags_list')}?tags={$vo.type_id}" style="background-color: #{$vo.type_color}">{$vo.type_name}</a>
        {/volist}
       <!--   <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a> -->
        
      </ul>
    </div>
    <div class="links">
      <h2 class="hometitle">友情链接</h2>
      <ul>
        <li><a href="http://www.taobao.com" target="_blank">淘宝网</a></li>
        <li><a href="http://www.baidu.com" target="_blank">百度</a></li>
        <li><a href="http://www.yangqq.com" target="_blank">优秀个人博客</a></li>
      </ul>
    </div>
    <div class="guanzhu" id="follow-us">
      <h2 class="hometitle">关注我们 么么哒！</h2>
      <ul>
        <li class="sina"><a href="/" target="_blank"><span>新浪微博</span>{$system.sys_xinlemail}</a></li>
        <li class="tencent"><a href="/" target="_blank"><span>腾讯微博</span>{$system.sys_tengxemail}</a></li>
        <li class="qq"><a href="/" target="_blank"><span>QQ号</span>{$system.sys_qqcard}</a></li>
        <li class="email"><a href="/" target="_blank"><span>邮箱帐号</span>{$system.sys_email}</a></li>
        <li class="wxgzh"><a href="/" target="_blank"><span>微信号</span>{$system.sys_wxcard}</a></li>
        <li class="wx"><img src="/file/upload/{$wxpic}"></li>
      </ul>
    </div>
  </div>