<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
{include file="index/header"}
<link rel="stylesheet" type="text/css" href="../../static/css/webuploader.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
<script src="../../../static/ckeditor.js"></script>
<script src="../../static/js/sample.js"></script>
<link rel="stylesheet" href="../../static/css/samples.css">
<link rel="stylesheet" href="../../static/toolbarconfigurator/lib/codemirror/neo.css">
<script src="../../static/js/jquery-1.9.min.js"></script>
<script src="../../static/js/webuploader.js"></script>
<script src="../../static/js/jquery.sortable.js"></script>
<script src="../../static/js/upload.js"></script>

<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>新增文章 - 资讯管理 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" action="{:url('article/article_push_upp')}" method="post" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>推荐标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.push_name}" placeholder="" id="articletitle" name="push_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.push_sort??50}" placeholder="" id="articlesort" name="push_sort">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">开启：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					{eq name="$data.push_stats" value="1"}
						<input type="radio" id="allowcomments" name="push_stats" value="1" checked="checked">开启
						<input type="radio" id="allowcomments" name="push_stats" value="0">关闭
					{else/}
						<input type="radio" id="allowcomments" name="push_stats" value="1" >开启
						<input type="radio" id="allowcomments" name="push_stats" value="0" checked="checked">关闭
					{/eq}

					<label for="checkbox-pinglun">&nbsp;</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章ID：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data.article_id}" placeholder="" id="author" name="article_id">
				<input type="hidden" value="{$tokey}" name="tokey">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">推荐版面：</label>
		<div id="uploader" class="formControls col-xs-8 col-sm-9" >
			
            <div class="item_container">
                <div id="" class="queueList" >
                    <div id="dndArea" class="placeholder">
                        <div id="filePicker"></div>
                    </div>
                </div>
            </div>
            <div class="statusBar" style="display:none;">
                <div class="progress">
                    <span class="text">0%</span>
                    <span class="percentage"></span>
                </div><div class="info"></div>
                <div class="btns">
                    <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                </div>
                
            </div>


        </div>
        <label class="form-label col-xs-4 col-sm-2">原文章版面：</label>
          	  	{neq name="$data.pic_id" value="0" }
            		<img src="..\..\file\upload\{$data.pic_dir}" style="height:200px;width: 200px;">
            	{/neq}
        </div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>	
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="index/footer"}

<!--请在下方写此页面业务相关的脚本-->


</body>
</html>